In [6]:
import json
import numpy as np
import os
import pandas as pd
from urllib.request import urlopen

In [19]:
# connect to poloniex's API
url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1410241477&end=9999999999&period=7200'

# parse json returned from the API to Pandas DF
openUrl = urlopen(url)
r = openUrl.read()
openUrl.close()
d = json.loads(r.decode())
df = pd.DataFrame(d)
print(df.shape)

(19938, 8)

In [20]:
original_columns=[u'close', u'date', u'high', u'low', u'open']
new_columns = ['Close','Timestamp','High','Low','Open']
df = df.loc[:,original_columns]
df.columns = new_columns
df.to_csv('bitcoin2015to2019.csv',index=None)

In [21]:
df.shape

(19938, 5)

In [23]:
df.head()

   Close   Timestamp   High    Low   Open
0  225.0  1424368800  225.0  225.0  225.0
1  244.0  1424376000  244.0  225.0  225.0
2  244.0  1424383200  244.0  244.0  244.0
3  244.0  1424390400  244.0  244.0  244.0
4  244.0  1424397600  244.0  244.0  244.0

In [3]:
ONE_YEAR = 31536000 # Number of seconds

In [1]:
d

NameError: name 'd' is not defined

In [91]:
from datetime import datetime
datetime.fromtimestamp(1481649159)

datetime.datetime(2016, 12, 13, 22, 42, 39)

In [11]:
1410241477 + ONE_YEAR

1441777477

In [83]:
datetime.fromtimestamp(1515345159)

datetime.datetime(2018, 1, 7, 22, 42, 39)

In [86]:
from time import time
1554657159 - ONE_YEAR * 1 + MONTH * 10

1549041159

In [16]:
MONTH = 30 * 24 * 60 * 60
MONTH

2592000

In [87]:
# connect to poloniex's API
url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1565889159&end=9999999999&period=300'

# parse json returned from the API to Pandas DF
openUrl = urlopen(url)
r = openUrl.read()
openUrl.close()
d = json.loads(r.decode())
Data = pd.DataFrame(d)
print(Data.shape)

(18839, 8)

In [63]:
'''# connect to poloniex's API
url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1554657159&end=1560273159&period=300'

# parse json returned from the API to Pandas DF
openUrl = urlopen(url)
r = openUrl.read()
openUrl.close()
d = json.loads(r.decode())
df_ = pd.DataFrame(d)
print(df_.shape)'''

(18721, 8)

In [57]:
'''Data = pd.concat([df, Data]).reset_index(drop = True) 
Data.shape'''

(56168, 8)

In [88]:
end = 1565889159 # Aug -> 2months from now
start = end - ONE_YEAR * 1 + MONTH * 10 # # June

for _ in range(15):
# connect to poloniex's API
    print(start," - ", end)
    url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start='+str(start)+'&end='+str(end)+'&period=300'

# parse json returned from the API to Pandas DF
    openUrl = urlopen(url)
    r = openUrl.read()
    openUrl.close()
    d = json.loads(r.decode())
    df = pd.DataFrame(d)
    print(df.shape)
    
    Data = pd.concat([df, Data]).reset_index(drop = True)
    print(Data.shape)
    
    end = start
    start = end - ONE_YEAR * 1 + MONTH * 10

1560273159  -  1565889159
(18721, 8)
(37560, 8)
1554657159  -  1560273159
(18721, 8)
(56281, 8)
1549041159  -  1554657159
(18721, 8)
(75002, 8)
1543425159  -  1549041159
(18721, 8)
(93723, 8)
1537809159  -  1543425159
(18721, 8)
(112444, 8)
1532193159  -  1537809159
(18721, 8)
(131165, 8)
1526577159  -  1532193159
(18721, 8)
(149886, 8)
1520961159  -  1526577159
(18721, 8)
(168607, 8)
1515345159  -  1520961159
(18721, 8)
(187328, 8)
1509729159  -  1515345159
(18721, 8)
(206049, 8)
1504113159  -  1509729159
(18721, 8)
(224770, 8)
1498497159  -  1504113159
(18721, 8)
(243491, 8)
1492881159  -  1498497159
(18721, 8)
(262212, 8)
1487265159  -  1492881159
(18721, 8)
(280933, 8)
1481649159  -  1487265159
(18721, 8)
(299654, 8)

In [89]:
df.head()

,date,high,low,open,close,volume,quoteVolume,weightedAverage
0,1481649159,780.000000,780.00,780.000000,780.000000,0.000000,0.000000,780.000000
1,1481649300,780.999997,780.00,780.999997,780.999997,1207.759027,1.546434,780.996193
2,1481649600,780.391000,779.55,780.391000,779.550000,1717.519267,2.201928,780.007123
3,1481649900,779.550000,779.55,779.550000,779.550000,123.710781,0.158695,779.550000
4,1481650200,780.391000,779.55,779.550000,780.391000,342.298172,0.438981,779.756059

In [90]:
Data.head()

,date,high,low,open,close,volume,quoteVolume,weightedAverage
0,1481649159,780.000000,780.00,780.000000,780.000000,0.000000,0.000000,780.000000
1,1481649300,780.999997,780.00,780.999997,780.999997,1207.759027,1.546434,780.996193
2,1481649600,780.391000,779.55,780.391000,779.550000,1717.519267,2.201928,780.007123
3,1481649900,779.550000,779.55,779.550000,779.550000,123.710781,0.158695,779.550000
4,1481650200,780.391000,779.55,779.550000,780.391000,342.298172,0.438981,779.756059

In [75]:
Data.iloc[37556,0]

1560306600

In [93]:
original_columns=[u'close', u'date', u'high', u'low', u'open']
new_columns = ['Close','Timestamp','High','Low','Open']
df = Data.loc[:,original_columns]
df.columns = new_columns
df.to_csv('bitcoin2016-12to2019-10.csv',index=None)