In [1]:
import h5py
import pandas as pd
import numpy as np

In [10]:
file_name = "bitcoin2015to2019.h5"

In [3]:
df = pd.read_csv('bitcoin2015to2019.csv').dropna()
df['Datetime'] = pd.to_datetime(df['Timestamp'], unit = 's')
df.head()

   Close   Timestamp   High    Low   Open            Datetime
0  225.0  1424368800  225.0  225.0  225.0 2015-02-19 18:00:00
1  244.0  1424376000  244.0  225.0  225.0 2015-02-19 20:00:00
2  244.0  1424383200  244.0  244.0  244.0 2015-02-19 22:00:00
3  244.0  1424390400  244.0  244.0  244.0 2015-02-20 00:00:00
4  244.0  1424397600  244.0  244.0  244.0 2015-02-20 02:00:00

In [4]:
df.shape

(19938, 6)

In [5]:
prices = df.loc[:, 'Close'].values
times = df.loc[:, 'Datetime'].values
prices.shape

(19938,)

In [6]:
import matplotlib.pyplot as plt
plt.figure(figsize = (15, 6))
plt.plot(prices)
plt.show()

In [8]:
input_step_size = 50
output_size = 30
sliding_window = False

outputs = []
inputs = []
output_times = []
input_times = []
if sliding_window:
    for i in range(len(prices)-input_step_size-output_size):
        inputs.append(prices[i:i + input_step_size])
        input_times.append(times[i:i + input_step_size])
        outputs.append(prices[i + input_step_size: i + input_step_size+ output_size])
        output_times.append(times[i + input_step_size: i + input_step_size+ output_size])
else:
    for i in range(0,len(prices)-input_step_size-output_size, input_step_size):
        inputs.append(prices[i:i + input_step_size])
        input_times.append(times[i:i + input_step_size])
        outputs.append(prices[i + input_step_size: i + input_step_size+ output_size])
        output_times.append(times[i + input_step_size: i + input_step_size+ output_size])
inputs= np.array(inputs)
outputs= np.array(outputs)
output_times = np.array(output_times)
input_times = np.array(input_times)

In [11]:
with h5py.File(file_name, 'w') as f:
    f.create_dataset("inputs", data = inputs)
    f.create_dataset('outputs', data = outputs)
#     f.create_dataset("input_times", data = input_times)
#     f.create_dataset('output_times', data = output_times)

In [12]:
np.save(file_name[:-3] + 'input_times',input_times)
np.save(file_name[:-3] + 'output_times',output_times)

In [13]:
times

array(['2015-02-19T18:00:00.000000000', '2015-02-19T20:00:00.000000000',
       '2015-02-19T22:00:00.000000000', ...,
       '2019-09-08T00:00:00.000000000', '2019-09-08T02:00:00.000000000',
       '2019-09-08T04:00:00.000000000'], dtype='datetime64[ns]')