In [6]:
import json
import numpy as np
import os
import pandas as pd
from urllib.request import urlopen

In [19]:
# connect to poloniex's API
url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1410241477&end=9999999999&period=7200'

# parse json returned from the API to Pandas DF
openUrl = urlopen(url)
r = openUrl.read()
openUrl.close()
d = json.loads(r.decode())
df = pd.DataFrame(d)
print(df.shape)

(19938, 8)

In [20]:
original_columns=[u'close', u'date', u'high', u'low', u'open']
new_columns = ['Close','Timestamp','High','Low','Open']
df = df.loc[:,original_columns]
df.columns = new_columns
df.to_csv('bitcoin2015to2019.csv',index=None)

In [21]:
df.shape

(19938, 5)

In [23]:
df.head()

   Close   Timestamp   High    Low   Open
0  225.0  1424368800  225.0  225.0  225.0
1  244.0  1424376000  244.0  225.0  225.0
2  244.0  1424383200  244.0  244.0  244.0
3  244.0  1424390400  244.0  244.0  244.0
4  244.0  1424397600  244.0  244.0  244.0

In [3]:
ONE_YEAR = 31536000 # Number of seconds

In [1]:
d

NameError: name 'd' is not defined

In [8]:
from datetime import datetime
datetime.fromtimestamp(1439014500 + ONE_YEAR)

datetime.datetime(2016, 8, 7, 11, 45)

In [11]:
1410241477 + ONE_YEAR

1441777477

In [32]:
from time import time
time() - ONE_YEAR * 1 + MONTH * 10

1565889159.1915877

In [16]:
MONTH = 30 * 24 * 60 * 60
MONTH

2592000

In [ ]:
# connect to poloniex's API
url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1565889159&end=9999999999&period=300'

# parse json returned from the API to Pandas DF
openUrl = urlopen(url)
r = openUrl.read()
openUrl.close()
d = json.loads(r.decode())
df = pd.DataFrame(d)
print(df.shape)